/* styles.css */
:root {
  /* Color Scheme */
  /* Dark Background Shades */
  --dark-bg-primary: #121212; /* Primary dark background for a luxurious feel */
  --dark-bg-secondary: #222831; /* Secondary dark background for a luxurious feel */
  --dark-bg-tertiary: #393e46; /* Tertiary dark background for a luxurious feel */

  /* Text Colors */
  --text-primary: #ffffff; /* Primary white text for contrast */
  --text-secondary: #eeeeee; /* Secondary white text for slightly less contrast */

  /* Accent Colors */
  --accent-primary: #0dcaf0; /* Bright blue for primary accents */
  --accent-secondary: #fd7014; /* Orange for secondary accents */

  /* Card Background */
  --card-bg-color: #333333; /* Dark gray for card backgrounds */

  /* Typography */
  --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --body-font: "Arial", sans-serif;

  /* Borders and Shadows */
  --border-radius: 8px; /* Rounded corners for elements */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent-color);
}

.card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.button {
  background-color: var(--card-bg-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
}

input[type="text"],
select,
textarea {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--accent-color);
  outline: none;
} */
