@import url("GloabalStyles.css");
:root {
    /* Color Scheme */
    /* Dark Background Shades */
    --dark-bg-primary: #121212; /* Primary dark background for a luxurious feel */
    --dark-bg-secondary: #222831; /* Secondary dark background for a luxurious feel */
    --dark-bg-tertiary: #393e46; /* Tertiary dark background for a luxurious feel */
  
    /* Text Colors */
    --text-primary: #ffffff; /* Primary white text for contrast */
    --text-secondary: #eeeeee; /* Secondary white text for slightly less contrast */
  
    /* Accent Colors */
    --accent-primary: #0dcaf0; /* Bright blue for primary accents */
    --accent-secondary: #fd7014; /* Orange for secondary accents */
  
    /* Card Background */
    --card-bg-color: #333333; /* Dark gray for card backgrounds */
  
    /* Typography */
    --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --body-font: "Arial", sans-serif;
  
    /* Borders and Shadows */
    --border-radius: 8px; /* Rounded corners for elements */
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--dark-bg-primary); 
  color: #fff;
}


.video-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.creator-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.comment-box {
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.video-controls .btn {
    margin-right: 5px;
}

.profile-link {
    cursor: pointer;
    color: var(--accent-primary);
}
.vtitle{
    text-align: center;
}

.cn{
    text-transform: capitalize;
}
.comment-box{
background-color: var(--card-bg-color);
}
.comment-box h3{
    text-align: center;
}
.comment,.addcomnt{
    background-color: var(--dark-bg-secondary);
}
.lkscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lkscontainer .btn{
    margin: 2%;
}
